@font-face {
    font-family: 'zabars';
    src: url('./fonts/zabars/zabars.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url('./img/page_bg.jpeg');
    background-position: center;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    /* folgende Zeilen abgeschaut aus anderem El Pollo Loco*/
    /* height: 100vh;
    width: 100vw;
    overflow: hidden; */
    /* ---------------- */
}

canvas {
    background-color: black;
    /* display: block;
    margin-top: 20px; */
}

/* Smartphones --------------------*/
@media only screen and (max-width: 1280px) {
    canvas {
        width: 100vw;
        /* width: 100vw; */
    }
}


/* Smartphones --------------------*/
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

.gameTitle {
    position: absolute;
    z-index: 1;
    top: 40px;
}

.speakerOnOff {
    position: absolute;
    z-index: 1;
    top: 100px;
    right: 120px;
    height: 64px;
    width: 64px;
    object-fit: cover;
}